.CartItemLine {
  height: 150px;
  margin: 10px 0px;
}
.DetailLine {
  height: 40px;
}

.DetailLineOption {
  height: 60px;
}

.DetailLineQuantity {
  height: 50px;
  display: flex;
  align-content: flex-end;
}

.ProductImg {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.ProductImg:hover {
  cursor: pointer;
}

.Name {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0px;
}
.Name:hover {
  cursor: pointer;
}

.SubName {
  font-weight: 500;
  /* margin-top: revert; */
  margin-bottom: 8px;
  margin-right: 12px;
}

.OptionValue {
  margin-left: 5px;
  font-weight: 400;
}

.RemoveLine {
  height: 75px;
}
.PriceLine {
  display: flex;
  align-content: flex-end;
  height: 75px;
}

.PriceValue {
  text-align: end;
  margin-bottom: 0px;
  font-size: 23px;
}

.UnavailableBanner {
  border-style: solid;
  border-width: 1.5px;
  border-color: red;
  background-color: rgb(255, 133, 133);
  width: max-content;
  padding: 5px;
  margin-left:auto
}

.UnavailableBanner:hover {
  cursor:default;
  }

.UnavailableText{
    text-align: center;
    margin-bottom: 0px;
    
    
}
