.container {
  margin-bottom: 50px;
}
.RightText {
  margin-left: 220px;
}



.btn {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.NoCartItems {
  margin: 150px 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

