/* Overal Product Display Card */

.currentProductCard {
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 18px;
  }
  
  /* Image Options Segment */
  
  .imageOptionsSegment {
    overflow-y: auto;
    height: 400px;
    width: 130px;
    margin-right: 15px;
  }
  
  .imageOptionsSegment img {
    width: 100px;
    margin-bottom: 10px;
  }
  
  /* Main Image Segment */
  
  .mainImageSegment {
    width: fit-content;
    padding: 0px;
  }
  .mainImageSegment img {
    width: 380px;
    height: 400px;
    object-fit: cover;
  }
  
  /* Product Details Segment */
  
  .currentProductDetailsSegment {
    margin-left: 20px;
  }
  
  .brand {
  }
  .brand p {
    margin-bottom: 15px;
    font-weight: 400;
  }
  
  .productName {
    font-size: 25px;
    color: #ff6158;
    font-weight: 500;
  }
  .productName p {
    margin-bottom: 18px;
  }
  
  .productDescription {
    height: 70px;
    overflow-y: auto;
    margin-bottom: 12px;
    line-height: 1.5;
  }
  
  
  .productPrice {
    font-size: 25px;
    font-weight: 500;
    margin-top: auto;
  }
  
  .priceAndButtons {
    margin-top: 20px;
  }
  
  .productPageButton {
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    font-weight: 600;
    overflow-y: auto;
  }
  