.Homepage {
  margin: 20px auto;
}

.HomepagePromotionBannerImageOne {
  width: 100%;
  height: 140px;
  object-fit: cover;
  margin-top: 15px;
}

.HomeSectionHeader {
  margin-top: 35px;
}

.HomeSectionHeader p {
  display: inline;
  font-size: 18px;
  margin-bottom: 0px;
}

.HomepagePromotionBannerImageTwo {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.HomepageBannerProductSegment {
  margin-top: 25px;
}

.ProductCoursel {
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
}

.SeeAllText {
  text-decoration: underline;
  margin-left: 10px;
}

.SeeAllText:hover {
  cursor: pointer;
}
