.Message {
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(1, 136, 1);
  text-align: center;
}

.Message p {
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 400;
}

.MessageError{
    background-color: #FF6158;

}

@keyframes popUpLand {
  0% {
    transform: translateX(5%);
    visibility: hidden;
  }
  /* 75%{
    transform: translateY(-0.2%);
  } */
  100% {
    transform: translateX(0%);
  }
}

.NotificationBox{

  animation: popUpLand 1.0s ;
}