<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
  <!-- Box icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="./css/styles.css" />
  <title>SizzaSneaks - Ecommerce Website</title>
</head>

<body>
 
  <!-- Main -->
  <main>
   
    <!-- New Arrivals -->
    <section class="section featured">
      <div class="title">
        <h1>New Arrivals</h1>
      </div>

      <div class="product-center container">
        <div class="product">
          <div class="product-header">
            <img src="./images/Sneaker1.jpg" alt="">
            <ul class="icons">
              <span><i class="bx bx-heart"></i></span>
              <span><i class="bx bx-shopping-bag"></i></span>
              <span><i class="bx bx-search"></i></span>
            </ul>
          </div>
          <div class="product-footer">
            <a href="#">
              <h3>New Sneaker</h3>
            </a>           
            <h4 class="price">R500</h4>
          </div>
        </div>

        <div class="product">
            <div class="product-header">
              <img src="./images/Sneaker1.jpg" alt="">
              <ul class="icons">
                <span><i class="bx bx-heart"></i></span>
                <span><i class="bx bx-shopping-bag"></i></span>
                <span><i class="bx bx-search"></i></span>
              </ul>
            </div>
            <div class="product-footer">
              <a href="#">
                <h3>New Sneaker</h3>
              </a>           
              <h4 class="price">R500</h4>
            </div>
          </div>

          <div class="product">
            <div class="product-header">
              <img src="./images/Sneaker1.jpg" alt="">
              <ul class="icons">
                <span><i class="bx bx-heart"></i></span>
                <span><i class="bx bx-shopping-bag"></i></span>
                <span><i class="bx bx-search"></i></span>
              </ul>
            </div>
            <div class="product-footer">
              <a href="#">
                <h3>New Sneaker</h3>
              </a>           
              <h4 class="price">R500</h4>
            </div>
          </div>

          <div class="product">
            <div class="product-header">
              <img src="./images/Sneaker1.jpg" alt="">
              <ul class="icons">
                <span><i class="bx bx-heart"></i></span>
                <span><i class="bx bx-shopping-bag"></i></span>
                <span><i class="bx bx-search"></i></span>
              </ul>
            </div>
            <div class="product-footer">
              <a href="#">
                <h3>New Sneaker</h3>
              </a>           
              <h4 class="price">R500</h4>
            </div>
          </div>
      </div>
    </section>

    <!--Top Sellers -->
    <section class="section featured">
      <div class="title">
        <h1>Top Sellers</h1>
      </div>

      <div class="product-center container">
        <div class="product">
          <div class="product-header">
            <img src="./images/Sneaker2.jpg" alt="">
            <ul class="icons">
              <span><i class="bx bx-heart"></i></span>
              <span><i class="bx bx-shopping-bag"></i></span>
              <span><i class="bx bx-search"></i></span>
            </ul>
          </div>
          <div class="product-footer">
            <a href="#"><h3>Popular Sneaker</h3></a>
            <h4 class="price">R500</h4>
          </div>
        </div>

            <div class="product">
              <div class="product-header">
                <img src="./images/Sneaker2.jpg" alt="">
                <ul class="icons">
                  <span><i class="bx bx-heart"></i></span>
                  <span><i class="bx bx-shopping-bag"></i></span>
                  <span><i class="bx bx-search"></i></span>
                </ul>
              </div>
              <div class="product-footer">
                <a href="#"><h3>Popular Sneaker</h3></a>
                <h4 class="price">R500</h4>
              </div>
            </div>

            <div class="product">
                <div class="product-header">
                  <img src="./images/Sneaker2.jpg" alt="">
                  <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                  </ul>
                </div>
                <div class="product-footer">
                  <a href="#"><h3>Popular Sneaker</h3></a>
                  <h4 class="price">R500</h4>
                </div>
              </div>
            
              <div class="product">
                <div class="product-header">
                  <img src="./images/Sneaker2.jpg" alt="">
                  <ul class="icons">
                    <span><i class="bx bx-heart"></i></span>
                    <span><i class="bx bx-shopping-bag"></i></span>
                    <span><i class="bx bx-search"></i></span>
                  </ul>
                </div>
                <div class="product-footer">
                  <a href="#"><h3>Popular Sneaker</h3></a>
                  <h4 class="price">R500</h4>
                </div>
              </div>
    </section>
   
  </main>

  

  <!-- GSAP -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <!-- Custom Script -->
  <script src="./js/index.js"></script>
</body>

</html>