/* design effects of shipping page*/
.container {
  margin-bottom: 20px;
}

.Name {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: left;
  align-items: center;
}
.StateMessageSuccess {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  margin-left: auto;
  color: green;
}

.StateMessageError {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 18px;
  margin-left: auto;
  color: red;
}

.PlaceOrderValidationError {
  display: flex;
  justify-content: center;
  align-items: center;
}
.PlaceOrderValidationError p {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 18px;

  color: red;
}

.SingleLineItem {
  margin-top: 5px;
  margin-bottom: 5px;
}

.SummaryCostValue {
  text-align: right;
}

.SummaryItemLabel {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.SummaryItemLabel p {
  margin-bottom: 0px;
}

.VerifiyEmailBox {
  border-style: solid;
  background-color: "#ECFFF7";
  border-color: #005651;
  border-width: 1.5px;
  margin: 10px 15px;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.LoadingBox {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CartNotFullAvailable {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ed4337;
  margin-left: 3%;
  margin-right: 2%;
  border-style: solid;
  border-width: 1.5px;
  border-color: #ed4337;
  padding: 8px;
}
.CartNotFullAvailable p {
  margin-bottom: 0px;
}

.ErrorBox {
  height: 65vh;
  width: 100%;
  color: red;
  text-align: "center";
  padding-top: 80px;
}

.ErrorBox span {
  font-size: 90px;
}

.InnerErrorBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InnerErrorBox p {
  font-size: 22px;
  margin-top: 20px;
  color: red;
}

.InputRow {
  margin: 10px auto 10px;
  padding: 0px 40px;
  margin-top: 20px;
}

.FullFormBox{
  margin-top: 5px;
}


.CartSummaryLoading {
  margin: 95px auto;
}