@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

a{
  text-decoration: none;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}

.nav p {
  margin-bottom: 0;
}

.App {
  background: color #8a8a8a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* --------------------Footer------------------------- */

footer {
  background-color: #38cccc;
  height: 465px;
}

.footer-heading-text {
  
  /* position: absolute; */
  top: 6px;
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: bold;
}
.footer-headingOne-text {
  margin-bottom: 18px;
  /* position: absolute; */
  top: 0px;
  font-size: 30px;
  font-weight: bold;
}

.footer-heading-block {
  position: relative;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}

.footer-segment-block {
  /* padding: 0; */
  margin-top: 30px;
}

.footer-segment-item-text {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 600;
}

.footer-segment-item-text:hover {
  cursor: pointer;
}

.footer-newsletter-subscribe-box {
  background-color: white;
  width: 100%;
  height: 42px;
  /* //padding: 6px 5px; */
  border-radius: 4px;

  /* padding-top: 6px; */
  display: inline-flex;
}

#footer-newsletter-subscribe-input {
  width: 100%;
  border-style: none;
  height: 100%;
  margin-left: 8px;
}

#footer-newsletter-subscribe-input:focus {
  outline: none;
}

.footer-subscribe-button {
  display: inline-block;
  padding: 9.5px 10px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer-subscribe-button:hover {
  cursor: pointer;
}

.payment-container {
  margin-left: auto;
}
.footer-icon-link:hover {
  cursor: pointer;
}


/* --------------------Products Page------------------------- */
.products-display{
  display: inline-block;
}
.page-number-indicator-section{
  display: inline-block;

}

.page-number-holder{
  border-style:solid;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  border-width: 1px;
  margin: 0 5px;
  margin: 10px;
  font-weight: bold;
  color: #000000;
}

.active-page{
  background-color: #282c34;
}

.active-page p{
  font-weight: bold;
  color: #ffffff;
  
}


/*------------Login--------------*/

.p-errors{
  color: crimson;
 margin-top: 6px;
}

.success-prompt{
  background-color:rgb(124, 223, 124);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.error-prompt{
  background-color:rgb(255, 149, 149);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
